<div class="container">
  <div class="row">
    <p>
      Forgot your password?
    </p>
    <p> 
      Enter your email address to 
      receive new password instructions.
    </p>
  </div>
  <div class="row">
    {{partial 'passwords/new/form'}}
  </div>
</div>